<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>

    <ul>
        <?php foreach($news as $n): ?>
            <li><a href="<?php echo $_SERVER['PHP_SELF']; ?>?id=<?php echo $n->id; ?>"><?php echo $n->title; ?></a></li>
        <?php endforeach; ?>
    </ul>

    <form method="post">
        <p>
            <input type="text" name="article[title]" value="">
        </p>
        <p>
            <textarea name="article[text]" cols="50" rows="10"></textarea>
        </p>
        <p>
            <input type="submit" value="Save">
        </p>
        <input type="hidden" name="action" value="add">
    </form>

</body>
</html>